* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   width: 100%;
  
}

html {
    scroll-behavior: smooth;
}
/* I. NAVBAR */

#header nav {   
    display: flex;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;   
    background-image: linear-gradient(
    359.8deg,
    rgba(252, 255, 222, 1) 2.2%,
    rgb(178, 202, 173) 99.3%
    );
}

#nav-logo {
    width: 35%;
    text-align: center;
}

nav div img {
    width: 40%;
    height: 100px;
}

#nav-option {
    list-style: none;
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    width: 65%;
}
#nav-option li {
    padding: 0 20px;
    position: relative;
}
#nav-option > li:hover > a {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: black;
    
}

#nav-option li:hover .subnav-category {
    display: block;    
}

.subnav-category {
    display: none;
}
.subnav-category li:hover {
    opacity: 0.8;
}

#nav-option .subnav-category {
    display: none;
    position: absolute;
    list-style: none;  
    top: 100%;    
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.521);
}
#nav-option .subnav-category li{
    padding: 10px 0 ;   
    width: 100%;   
}
#nav-option .subnav-category li a {
    font-size: 12px;
}

.subnav-search {
    width: 25%;
    text-align: center;
}
.subnav-search ion-icon {
    padding: 0 8px;
    font-size: 20px;
    font-weight: bold;
}
.subnav-search ion-icon:hover {
    opacity: 0.6;
}

/* II. Main */

/* 1. Title */

.title h1, h4 {
    font-family: 'Whisper', cursive;
    text-align: center;
    color: black;
}
.title h1 {
    font-size: 70px;
    padding-top: 10px;
}
.title h4 {
    font-size: 30px;
    padding-bottom: 20px;
}

#slider {  
    
    text-align: center;
}
#slider img {
    
    width: 80%;
}

/* 2. Bestselling tree */

main {
    margin-left: 10%;
    margin-right: 10%;
}

#bestselling-tree-title {
    text-align: center;
    margin-top: 45px;
}
#bestselling-tree-title h1 {    
    font-family: 'Whisper', cursive;
    font-size: 70px;
    margin-bottom: -5px;
}
#bestselling-tree-title img {
    height: 110px;
}


#bestselling-tree-content {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 410px;
    grid-column-gap: 1%;
    justify-content: space-between;
}

.bestselling-tree {
    text-align: center;
    background-image: linear-gradient(
    359.8deg,
    rgba(252, 255, 222, 1) 2.2%,
    rgb(178, 202, 173) 99.3%
    );
    border-radius: 3px;
    transition: transform 0.5s;

}
.bestselling-tree:hover {
    transform: translateY(-5px);
}

.bestselling-tree img {
    width: 90%;     
    margin-top: 5%;
    
}
.bestselling-tree img:hover {
    opacity: 0.8;
}

.bestselling-tree h3 {
    font-family: serif;
    margin-top: 5px;
    font-size: 90%;
    font-weight: 500;
}
.bestselling-tree p {
    margin-top: 7px;
    font-weight: bold;
    font-size: 110%;  
}
.bestselling-tree button {
    margin-top: 12px;
    width: 70%;
    border: none;
    border-radius: 5px;
    background-color: rgb(173, 191, 168);
    padding: 8px;   
}
.bestselling-tree button:hover {
    opacity: 0.8;
}
.bestselling-tree button ion-icon {
    padding: 0 3px;
}
.bestselling-tree span {   
    margin-top: 14px;
    width: 40%;
    display: block;
    padding: 5px;
    background: #CC0000;
    margin-left: 30%;
    color: white;
    border-radius: 5px;
}

/* 3. Category */

#category {
    margin-top: 45px;
    display: flex;
    padding-bottom: 40px;
}

.cate-list {
    width: 40%; 
    text-align: center;
    margin: auto 0;
}
.cate-list a {
    text-decoration: none;
    color: black;
    padding: 10px 0;
    background-color: rgb(173, 191, 168);
    font-family: 'Whisper', cursive;
    display: block;
    margin: 45px 0;
    font-size: 150%;
    font-weight: bold;
    transition: transform .5s;
}
.cate-list a:hover {
    transform: translateY(-5px);
    opacity: 0.8;
}
.cate-img {
    width: 100%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    /* grid-template-rows: 300px 300px 300px; */
    grid-gap: 1% 5px;
    justify-content: flex-end;
}
.cate-img img {
    width: 100%;
}
.cate-img img:hover {
    opacity: 0.9;
}

.cate-img img:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 180px;
}
.cate-img img:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    height: 180px;
}
.cate-img img:nth-child(3) {
    grid-row: 2 / 4 ;
    height: 240px;
}
.cate-img img:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    height: 275px;
}
.cate-img img:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    height: 240px;
}
.cate-img img:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 90px;
}
.cate-img img:nth-child(7) {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    height: 145px;
}

/* 4. About Us */

#aboutus {
    text-align: center;
    margin-top: 104px;
}
#aboutus h1 {    
    font-family: 'Whisper', cursive;
    font-size: 70px;
    margin-bottom: -5px;
}
#aboutus p {
    margin-top: 12px;
    text-align: justify;
    font-family: 'Whisper';
    color: black;
    font-size: 25px;
    font-weight: 600;
}
.title-img {
    height: 110px;
}
.map {
    width: 100%;
    height: 500px;
    margin-top: 22px;   
}

/* III. Footer */

footer {
    margin-top: 45px;
    background-image: linear-gradient( 359.8deg, 
    rgba(252, 255, 222, 1) -26.8%, rgb(178, 217, 173) 99.3% );
    height: 250px;
    display: flex;
}

.contact {
    margin-top: 40px;
    margin-left: 36%;
}
.contact .contact-text p {
    padding: 8px;
    font-size: 18px;
}

.contact-icon {
    text-align: center;
    margin-top: 20px;
}

.contact-icon ion-icon {
    font-size: 18px;
    padding: 0 8px;
}
.contact-icon ion-icon:hover {
    opacity: 0.8;
}

/* New */


